@charset "UTF-8";
body{height: 100%;}

.navTop{position: fixed; z-index: 1; background: #fff; width: 100%;}
.navTop li{ display: inline-block; padding: 10px;}
.section{
            background-position:center;
            background-repeat: no-repeat;
            background-size: cover;
}
.s1st{
  background-image: url(../images/slider2.png); background-position: center; background-repeat: no-repeat;
  width: 100%;
  background-position:center;
   background-repeat: no-repeat;
   background-size: cover;
  /* height: 500px; */
}
.s2st{
  background: url(../images/slider1.png); background-position: center; background-repeat: no-repeat;   width: 100%;
  background-position:center;
   background-repeat: no-repeat;
   background-size: cover;
    /* height: 500px; */
}
.s3st{
  background: url(../images/slider3.png); background-position: center; background-repeat: no-repeat;  width: 100%;
  background-position:center;
   background-repeat: no-repeat;
   background-size: cover;
    /* height: 500px; */
}


.s1st .text,
.s3st .text
{ color: #fff; position: absolute; top: 40%; left: 20%; }
.s2st .text
{ color: #333; position: absolute; top: 20%; left: 65%; }

ul.slider {margin: 0;}

/* .slider{position: relative;} */
.scroll{
  position: absolute; bottom: 20px; z-index: 10; left: 50%; transform: translateX(-50%);
  animation-name: scrollP;  animation-duration: 0.8s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
}
@keyframes  scrollP{
    from{ bottom: 20px;}
    to{bottom: 30px;}

}



.page2{background: url(../images/sec2bg2.png);  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;}
.company h3,.company p {color: #fff; font-weight: bold;}
.company img{position: relative; margin-bottom: 20px;}
.company h3{position: absolute; top: 40%; left: 50%; transform: translateX(-50%);}
.company p {font-size: 18px; line-height: 22px;}



.page3{background: url(../images/sec3bg.jpg);   background-position:center;
  background-repeat: no-repeat;
  background-size: cover; position: relative;}

.page3 h2{ position: absolute; top: 20%; left: 200px; font-weight: bold; font-size: 45px;}
.consL.swiper-slide {background: #fff; height: 400px ; box-shadow:10px 10px 10px rgba(0, 0, 0, 0.4); padding: 34px; position: relative;}
.contSlider{width: 1000px; position: absolute; right: 100px; top: 35%; padding:10px; }
/* .consL::after{content: ""; display: block; background: #135680; height: 400px; width: 30px; margin-left :285px;} */
.consL h4{ font-weight: bold; font-size: 20px; margin-bottom: 24px;}
.stitle{ font-weight: bold; font-size: 23px; line-height: 28px; margin-bottom: 40px; color: #333; margin-right: 10px;}
.cotn{ color: #9D9D9D; margin-bottom: 24px;}
.date{ color: #9D9D9D;}
.bar { height: 400px; width: 30px;  background: #135680; position: absolute; top: 0; right: 0;  }
