@charset "UTF-8";
body{height: 100%; }
*{
  /* font-family: 'Montserrat', sans-serif; */
font-family: 'Noto Sans', sans-serif;
}


.navTop{position: fixed; z-index: 1; background: #fff; width: 100%;}
.navTop li{ display: inline-block; padding: 10px;}
.section{
            background-position:center;
            background-repeat: no-repeat;
            background-size: cover;
}
.s1st{
  background-image: url(../images/slider2.png); background-position: center; background-repeat: no-repeat;
  width: 100%;
  background-position:center;
   background-repeat: no-repeat;
   background-size: cover;
  /* height: 500px; */
}
.s2st{
  background: url(../images/slider1.png); background-position: center; background-repeat: no-repeat;   width: 100%;
  background-position:center;
   background-repeat: no-repeat;
   background-size: cover;
    /* height: 500px; */
}
.s3st{
  background: url(../images/slider3.png); background-position: center; background-repeat: no-repeat;  width: 100%;
  background-position:center;
   background-repeat: no-repeat;
   background-size: cover;
    /* height: 500px; */
}

.navTop{background: none; }
.navTop.border{border-bottom: 1px solid #333;}
.topMenu a {font-weight: bold; color: #fff; }
.topMenu a.c33{color: #333;}
.logo { width: 100px;}

.s1st .text,
.s3st .text
{ color: #fff; position: absolute; top: 30%; left: 20%; }
.s1st .text p,
.s3st .text p, .s2st .text p { font-size: 1.5rem; color: #fff;}
.s2st .text
{ color: #333; position: absolute; top: 25%; left: 60%; }

ul.slider {margin: 0;}

/* .page1 .swiper-slide .text{ opacity: 0; transition: 0.5s;} */
.page1 .swiper-slide.swiper-slide-active .text{
     animation-name:textD; animation-duration: 1.5s;
               /* animation-iteration-count: infinite; */
               animation-direction: alternate;

}

@keyframes  textD{
    from{ opacity: 0; transform: translateX(-100px);}
    to{opacity: 1;  transform: translateX(0);}

}

/* .slider{position: relative;} */
.scroll{
  position: absolute; bottom: 20px; z-index: 10; left: 50%; transform: translateX(-50%);
  animation-name: scrollP;  animation-duration: 0.8s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
}
@keyframes  scrollP{
    from{ bottom: 20px;}
    to{bottom: 30px;}

}



.page2{background: url(../images/sec2bg2.png);  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;}
.page2 h2 { color: #fff; font-weight: bold;}
.company h3,.company p {color: #fff; font-weight: bold;}
.company img{position: relative; margin-bottom: 20px;}
.company h3{position: absolute; top: 40%; left: 50%; transform: translateX(-50%);}
.company p {font-size: 18px; line-height: 22px;}
.company1.down{
  opacity: 1;  transform: translateY(10%); animation-name: del; transition: 0.6s; _transition-delay: 1s
}
.company2.down{
  opacity: 1;  transform: translateY(10%); animation-name: del; transition: 0.6s;  transition-delay: 0.4s
}
.company3.down{
  opacity: 1;  transform: translateY(10%); animation-name: del; transition: 0.6s;  transition-delay: 0.8s
}

.company1,.company2,.company3 { opacity: 0; transition: 0.8s; transform: translateY(-100%);}


.page3{background: url(../images/sec3bg.jpg);   background-position:center;
  background-repeat: no-repeat;
  background-size: cover; position: relative;}

.page3 h2{ font-weight: bold; font-size: 40px;color: #333;}


.swiper-slide {_padding: 20px 0;}
/* .swiper-slide .date{ display: none; transition: 0.5s;} */
.swiper-slide .cotn{ display: none; transition: 0.5s;}
/* .swiper-slide-active .date{ display: block; } */
.swiper-slide-active .cotn{ display: block;}







/*  svg*/

svg text {
  font-size: 6em; fill:none;  font-weight: 800; stroke:#fff;
  stroke-width:4px; stroke-dasharray:438px; font-family: Montserrat;

  animation: stroke 4s ;
}
/* svg.coloA text {
  font-size: 6em; fill:none;  font-weight: 800; stroke:#333 !important;
  stroke-width:4px; stroke-dasharray:438px; font-family: Montserrat;


} */

svg{margin-bottom: 24px;}
/* @keyframes stroke {
  0%{
    stroke-dasharray:438px;
  }
  100%{
    stroke-dasharray:0;
  }

} */


.page3 h2 {
  text-align: center;
}
/*  슬라이드 내용*/
.contSlider  {padding: 5px;}
.swffbg{
  background: #fff; padding: 30px; border-right:40px solid #135680;
  box-shadow: 5px 5px 8px rgba(0,0,0,0.3);height:300px;border-radius: 10px;overflow: hidden;
}
.swffbg h4{text-align: center; margin-bottom: 20px}
.newtitle{

  }

.newtitle h4 { font-weight: bold; letter-spacing: -2px; font-size: 1.5rem;color: #333;text-align: center; margin-bottom: 20px;}
.newtitle button {background: #333; padding: 10px 60px; border: none; }
.newtitle button a {color: #fff;   text-align: center; display: block;}



.swiper-prev img,.swiper-next img {width: 30px;}
.swiper-prev{ margin-right: 5px;}
.swiper-prev,.swiper-next {float: left; background: #ccc;}
.swiper-prev img{ transform: rotate(180deg);}
.moreWrap {    display: flex;
    justify-content: center;
    align-items: center;}


.swiper-slide{padding: 30px 0; transition: 0.3s;}
.swiper-slide.swiper-slide-active{padding: 10px 0;}
.swiper-slide.swiper-slide-active .swffbg{padding: 30px !important;height:400px !important}

    /* page4 */


.page4{background: url(../images/sec4bg.png);   background-position:center;
      background-repeat: no-repeat;
      background-size: cover; position: relative;}
  .page4 h2 {font-weight: bold;font-size: 60px; color: #333; }
  .page4 p {font-weight: bold;}
.more4{font-weight: bold;}
  .more4::before{
    content: ""; display: block; width: 50px; height: 2px; background: #135680;
    margin: 10px 0;
}


.topbtn{width: 100px; height: 100px; border-radius: 50px; border: 5px solid #135680; position: absolute;    left: 10%;
    bottom: 5%; animation: topbtn 1s infinite;}
    @keyframes topbtn {
      0%{bottom: 10%}
      50%{bottom: 5%}
        100%{bottom: 10%;}

    }
.topbtn a{text-align: center; display: block; line-height: 90px; font-weight: bold;}
/* 풀페이지 설정 */
#fp-nav ul li a span, .fp-slidesNav ul li a span{background: #fff !important;}
#fp-nav {right: 0;}
#fp-nav ul li .fp-tooltip {right: 30px; text-shadow: 5px 5px 8px rgba(0,0,0,0.5)}
.tabMenu li{line-height: 30px; border-bottom: 2px solid rgba(0,0,0,0) ; transition: 0.3s; }

.tabMenu li a {text-align: center; display: block; font-weight: bold; font-size: 1.2rem;}
.tabMenu li::after{content: "";display: block; width: 100px; height: 2px; background: rgba(0,0,0,0) ; margin: 0 auto; transition: 0.4s;}
.tabMenu li:hover::after{content: "";display: block; width: 100px; height: 2px; background: #135680; margin: 0 auto;}

.tabMenu li.active2 a{font-weight: bold; color: #135680;}
.newtitle{padding: 18px 0;}
.newtitleWrap{background: rgba(255,255,255,0.5); height: 390px; padding: 100px 0; border-radius: 5px}
